body {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4,1fr);
    font-size: 2em;
    background-color: gray;
    gap:1.2em;
    padding: 1.5em;
}

input{
    width: 1.5em;
    font-size: 1em;
}

input[type="text"] {
    grid-column: 1/5;
    grid-column-end: span 5;
    background-color: white;
}
input[type="textarea"] {
    grid-column: 1/5;
    height : 3em;
    grid-column-end: span 4;
    background-color: white;
}
input[type="button"]{
    background-color: white;
    height: 3em;
    padding: 1.5em;
}
input[name="fe"]{
    grid-column-start: 2;
    grid-column-end: 6;
    background-color: gray;
}

input[name="arriba"]{
    background-color: gray;
}

input[name="medios"]{
    background-color: lightgray;
}

input[name="num"]{
    background-color: white;
}

