body {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    
    background-color: black;
    gap:2em;
    margin: 2em;
    padding: 2em;
}

input{
    width: 10em;
    font-size: 1em;
}

input[type="text"] {
    grid-column: 1/5;
    background-color: white;
}
input[type="textarea"] {
    grid-column: 1/5;
    height : 3em;
    background-color: white;
}
input[type="button"]{
    background-color: white;
    height: 3em;
    padding: 2em;
}

