/********************************
Gonzalo Suárez Losada - UO283928	
Descripción de estilos
********************************/

/*Especificidad: 001*/
body{
  background-color: white;
}

/*Especificidad: 001*/
header {
  background-color: rgb(255, 255, 255);
}

/*Especificidad: 001*/
section {
  background-color: white;
}

/*Especificidad: 001*/
footer {
  background-color: rgb(255, 255, 255);
}
  
  